body {
    background-color: beige;
    align-items: center;
}

h1 {
    text-align: center;
}

a {
    font-size: 22px;
    font-weight: 700;
    font-family: Helvetica;
    font-style: italic;
    color: black;
}

.drinks {
    border-color: black;
}

img {
    width: 200px;
}