body {
    background-color: beige;
    align-items: center;
}

h1 {
    text-align: center;
}

a {
    font-size: 22px;
    font-weight: 700;
    font-family: Helvetica;
    font-style: italic;
    color: black;
}

.drink-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding: 20px;
}

.drink {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

img {
    width: 200px;
    max-height: 200px;
}